<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4461c50f65.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>News</title>
</head>
<body>
    <!--Header-->
    <section id="header">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="header-left-text">Welcome to Professional Healthcare</p>
                    </div>
                    <div class="col head-col">
                        <span class="phone-icon">
                            <i class="fas fa-phone-alt"> 022 26456783</i>
                        </span>
                        <span class="date-icon">
                            <i class="far fa-calendar-plus"> 6:00 AM - 10:00 PM (Mon-Fri)</i>
                        </span>
                        <span class="email-icon">
                            <i class="fas fa-envelope"> medicure@gmail.com</i>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <hr>
    
    <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="#">MediCure</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-pad" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/"><button type="button" class="btn appoint-btn">Make an Appointment</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="news-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 news-left-col">
                    <div class="news-deets">
                        <div>
                            <img class="news-img-set" src="{{ url_for('static',filename='images/news-image3.jpg')}}" alt="">
                        </div>
                        <h3 class="news-deets-head">New technologies in the Medical Field</h3>
                        <p class="phone-icon">
                            10.  Smart inhalers 
                            Inhalers are the main treatment option for asthma and if taken correctly, will be effective for 90% of patients. However, in reality, research shows that only about 50% of patients have their condition under control and as many as 94% don’t use inhalers properly. 
                            To help asthma sufferers to better manage their condition, Bluetooth-enabled smart inhalers have been developed. A small device is attached to the inhaler which records the date and time of each dose and whether it was correctly administered. This data is then sent to the patients’ smartphones so they can keep track of and control their condition. Clinical trials showed that using the smart inhaler device used less reliever medicine and had more reliever-free days.
                        <br>
                        <br>
                        9.  Robotic surgery  
                            Robotic surgery is used in minimally invasive procedures and helps to aid in precision, control and flexibility. During robotic surgery, surgeons can perform very complex procedures that are otherwise either highly difficult or impossible. As the technology improves, it can be combined with augmented reality to allow surgeons to view important additional information about the patient in real time while still operating. While the invention raises concerns that it will eventually replace human surgeons, it is likely to be used only to assist and enhance surgeons’ work in the future. Read more about robotic surgery here.
                        <br>
                        <br>
                        8.  Wireless brain sensors 
                        Thanks to plastics, medical advances have allowed scientists and doctors to team up and create bioresorbable electronics that can be placed in the brain and dissolve when they are no longer needed, according to Plasticstoday.com. This medical device will aid doctors in measuring the temperature and pressure within the brain. Since the sensors are able to dissolve, they reduce the need for additional surgeries. 
                        <br>
                        <br>
                        7.  3-D printing 
                        If you haven’t heard, 3-D printers have quickly become one of the hottest technologies on the market. These printers can be used to create implants and even joints to be used during surgery. 3-D-printed prosthetics are increasingly popular as they are entirely bespoke, the digital functionalities enabling them to match an individual’s measurements down to the millimetre. The allows for unprecedently levels of comfort and mobility. 

                        The use of printers can create both long lasting and soluble items. For example, 3-D printing can be used to ‘print’ pills that contain multiple drugs, which will help patients with the organisation, timing and monitoring of multiple medications. This is a true example of technology and medicine working together.  
                        <br>
                        <br>
                        6.  Artificial organs 
                        To take 3D printing up another notch, bio-printing is also an emerging medical technology. While it was initially ground-breaking to be able to regenerate skin cells for skin draughts for burn victims, this has slowly given way to even more exciting possibilities. Scientist have been able to create blood vessels, synthetic ovaries and even a pancreas. These artificial organs then grow within the patient’s body to replace original faulty one. The ability to supply artificial organs that are not rejected by the body’s immune system could be revolutionary, saving millions of patients that depend on life-saving transplants every year.  
                        <br>
                        <br>
                        5.  Health wearables
                        The demand for wearable devices has grown since their introduction in the past few years, since the release of bluetooth in 2000. People today use their phone to track everything from their steps, physical fitness and heartbeat, to their sleeping patterns. The advacement of these wearable technologies is in conjunction with rising chronic diseases like diabetes and cardiovascular disease, and aim to combat these by helping patients to monitor and improve their fitness. 

                        In late 2018, Apple made headlines with their ground breaking Apple Series 4 Watch that has an integrated ECG to monitor the wearer's heart rhythms. Within days of its release, customers were raving about the life saving technology, which is able to detect potentially dangerous heart conditions much earlier than usual. The wearable devices market is forecast to reach $67 billion by 2024.
                        <br>
                        <br>
                        4.  Precision medicine  
                        As medical technology advances it is becoming more and more personalised to individual patients. Precision medicine, for example, allows physicians to select medicines and therapies to treat diseases, such as cancer, based on an individual’s genetic make-up. This personalised medicine is far more effective than other types of treatment as it attacks tumours based on the patient’s specific genes and proteins, causing gene mutations and making it more easily destroyed by the cancer meds.  

                        Precision medicine can also be used to treat rheumatoid arthritis. It uses a similar mechanism of attacking the disease’s vulnerable genes to weaken it and reduce symptoms and joint damage.  
                        <br>
                        <br>
                        3.  Virtual reality  
                        Virtual reality has been around for some time. However, recently, with medical and technological advances, medical students have been able to get close to real life experience using technology. Sophisticated tools help them gain the experience they need by rehearsing procedures and providing a visual understanding of how the human anatomy is connected. The VR devices will also serve as a great aid for patients, helping with diagnosis, treatment plans and to help prepare them for procedures they are facing. It has also proved very useful in patient rehabilitation and recovery. 
                        <br>
                        <br>
                        2.  Telehealth 
                        In a technologically driven world, it’s thought that as many as 60% of customers prefer digitally-led services. Telehealth describes a quickly developing technology that allows patients to receive medical care through their digital devices, instead of waiting for face-to-face appointments with their doctor. For example, highly-personalised mobile apps are being developed which allow patients to speak virtually with physicians and other medical professionals to receive instant diagnosis and medical advice. 

                        With oversubscribed services, telehealth gives patients different access points to healthcare when and where they need it. It is particularly useful for patients managing chronic conditions as it provides them with consistent, convenient and cost-effective care. The global telemedicine market is expected to be worth $113.1 billion by 2025.  
                        <br>
                        <br>
                        1.  CRISPR   
                        Clustered Regularly Interspaced Short Palindromic Repeats (CRISPR) is the most advanced gene-editing technology yet. It works by harnessing the natural mechanisms of the immune systems of bacterium cells of invading viruses, which is then able to ‘cut out’ infected DNA strands. This cutting of DNA is what has the power to potentially transform the way we treat disease. By modifying genes, some of the biggest threats to our health, like cancer and HIV, could potentially be overcome in a matter of years.  

                        However, as with all powerful tools there are several controversies surrounding its widespread use, mostly over humanity’s right to ‘play God’ and worries over gene-editing being used to produce hordes of designer babies. CRISPR is still a first-generation tool and its full capabilities are not yet understood. 
                        </p>

                            
                        </div>


                    <div class="news-deets-share">
                        <h4>Share this article</h4>
                        <a href="" class="btn btn-primary news-deets-share-btn"><i class="fab fa-facebook-f"></i> Facebook</a>
                        <a href="" class="btn btn-success news-deets-share-btn"><i class="fab fa-twitter"></i> Twitter</a>
                        <a href="" class="btn btn-danger news-deets-share-btn"><i class="fab fa-google-plus-g"></i> Google+</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 news-right-col">
                    <div>
                        <div class="news-deets-author">
                            <h4>About the Author</h4>
                            <p class="phone-icon">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id molestias, laboriosam nam maxime soluta consectetur voluptatum adipisci quibusdam blanditiis!</p>
                        </div>
                        <div class="news-deets-recent">
                            <h4>Recent News</h4>
                            <div class="foot-stories-img">
                                <img class="foot-news-img" src="{{ url_for('static',filename='images/news-image.jpg')}}" alt="">
                            </div>
                            <div class="foot-stories-info">
                                <a href="#"><h6 class="foot-stories-info-head">New Technology</h6></a>
                                <span>May 2nd, 2021</span>
                            </div>
                            <br>
                            <div class="foot-stories-img">
                                <img class="foot-news-img" src="{{ url_for('static',filename='images/news-image.jpg')}}" alt="">
                            </div>
                            <div class="foot-stories-info">
                                <a href="#"><h6 class="foot-stories-info-head">Medical Miracle</h6></a>
                                <span>June 23rd, 2021</span>
                            </div>
                        </div>
                        <div class="news-deets-categories">
                            <h4>Categories</h4>
                            <li>
                                <a href="" class="news-deets-categories"><i class="fas fa-angle-right"></i> Dental</a>
                            </li>
                            <li>
                                <a href="" class="news-deets-categories"><i class="fas fa-angle-right"></i> Cardiology</a>
                            </li>
                            <li>
                                <a href="" class="news-deets-categories"><i class="fas fa-angle-right"></i> Teachnology</a>
                            </li>
                            <li>
                                <a href="" class="news-deets-categories"><i class="fas fa-angle-right"></i> News</a> 
                        </div>
                        <div class="news-deets-tag">
                            <h4>Tags</h4>
                            <li><a href="">Health</a></li>
                            <li><a href="">Consultant</a></li>
                            <li><a href="">Medical</a></li>
                            <li><a href="">Doctors</a></li>
                            <li><a href="">Social</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="foot-thumb">
                        <div class="footer-contact">
                            <h4>Contact Info</h4>
                        </div>
                        <p class="foot-txt-contact">Contact the Medical Centre any time during the date. Emergency Centre oper 24hrs</p>
                        <div>
                            <p><i class="fas fa-2x fa-phone-square-alt foot-sq-contact"></i> 0123456789</p>
                            <p><i class="fas fa-2x fa-envelope-square foot-sq-contact"></i> medicure@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="foot-thumb">
                        <h4>Latest News</h4>
                        <div class="foot-stories-img">
                            <img class="foot-news-img" src="{{ url_for('static',filename='images/news-image.jpg')}}" alt="">
                        </div>
                        <div class="foot-stories-info">
                            <a href="#"><h6 class="foot-stories-info-head">New Technology</h6></a>
                            <span>May 2nd, 2021</span>
                        </div>
                        <br>
                        <div class="foot-stories-img">
                            <img class="foot-news-img" src="{{ url_for('static',filename='images/news-image.jpg')}}" alt="">
                        </div>
                        <div class="foot-stories-info">
                            <a href="#"><h6 class="foot-stories-info-head">Medical Miracle</h6></a>
                            <span>June 23rd, 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="foot-thumb">
                        <div class="foot-opening-hrs">
                            <h4>Opening Hours</h4>
                            <p>
                                <span>Monday - Friday</span>
                                <span>06:00am - 10:00pm</span>
                            </p>
                            <p>
                                <span>Saturday</span>
                                <span>09:00am - 8:00pm</span>
                            </p>
                            <p>
                                <span>Sunday</span>
                                <span>Closed</span>
                            </p>
                        </div>
                        <div class="foot-socials">
                            <ul>
                                <li><a href="#" class="fa fa-facebook-square"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="foot-hr">
                <div class="col">
                    <div class="foot-copyright">
                        <p>Copyright © 2021 Vismay Rathod</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>